@page

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    
    <a href="/SimpleGet">SimpleGet</a>
    <a href="~/Pages/SimplePost">SimplePost</a>

</body>
</html>