@page
@using MortenJuulS1.WebWithCats.Logic;
@{
    CatRepository cats = new CatRepository();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>katte siden!</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="cats">
    @foreach (var cat in cats.GetCatsFromFile())
    {
        <div class="cat">
            <h3>@cat.Header</h3>
            <img src="@cat.UrlToPicture" alt="@cat.AltText" width="300" />
            <p>@cat.Description</p>
        </div>
    }
    </div>

</body>
</html>