@page


<div id="main">
    <h1>About page</h1>
    <ul>
        <li>We are eco-friendly</li>
        <li>We are not soccer players!</li>
        <li>We are one with the sun</li>
        <li>We are universal</li>
        <li>We are childern of Earth</li>
    </ul>
</div>

