@page

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/style.css" rel="stylesheet" />
    <title>Educational - About</title>
</head>
<body>
    <div id="wrapper">
        <div id="main">
            <h1>About page</h1>
            <ul>
                <li>We are eco-friendly</li>
                <li>We are not soccer players!</li>
                <li>We are one with the sun</li>
                <li>We are universal</li>
                <li>We are childern of Earth</li>
            </ul>
        </div>
        <hr />
        <footer>
            <p>Copyright by WebMakerCompany 2009-@DateTime.Now.Year</p>
        </footer>
    </div>

</body>
</html>