@page
<!DOCTYPE html>

<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/style.css" rel="stylesheet" />
    <title>Educational - Frontpage</title>
</head>
<body>
    <div id="wrapper">
        <div id="main">
            <h1>Contact us</h1>
            <p>Contacts information: me&#64me.com</p>
        </div>
        <hr />
        <footer>
            <p>Copyright by WebMakerCompany 2009-@DateTime.Now.Year</p>
        </footer>
    </div>
</body>
</html>