@page
@{ 
    ViewBag.ActivePage = "Contact";
}
<div id="main">
    <h1>Contact us</h1>
    <p>Contacts information: me&#64me.com</p>
</div>
<hr />
<footer>
    <p>Copyright by WebMakerCompany 2009-@DateTime.Now.Year</p>
</footer>

