@page "{errorCode:int}"
@{
    int errorCode = int.Parse((string)RouteData.Values["errorCode"]);
    ViewBag.Title = "Error Page";
}

<div id="main">
    <h1>Error Page</h1>
    @if (errorCode == 404)
    {
        <p>Du har fået en error 404, det var da ikke godt!</p>
    }
    else
    {
        <p>Der er opstået en fejl med statuskode @errorCode</p>
    }
</div>
