@page
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Aab af 1885</title>
</head>
<body>
    <header>
        <p>Aab - Hele Nordjyllands hold</p>
    </header>

    <p>Aab blev grundlagt i 1885 og har vundet danmarksmesterskaberne fire gange.</p>
    <img src="~/img/aab.png" alt="Aab's Logo" /><br />
    <a href="~/Index">til forsiden</a>
</body>
</html>