@page
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <ul>
        <li><a href="~/Aab">Aab siden</a></li>
        <li><a href="~/BestTeam/Aab">BestTeam Aab</a></li>
        <li><a href="~/BestTeam/Brøndby IF">BestTeam Brøndby IF</a></li>
        <li><a href="~/BestTeam/FC København">BestTeam FC København</a></li>
        <li><a href="~/BestTeam/AGF">BestTeam AGF</a></li>
        <li><a href="~/BestTeam/Vendsyssel IF">BestTeam Vendsyssel IF</a></li>
        <li><a href="~/BestTeam/Hobro IK">BestTeam Hobro IK</a></li>
    </ul>
</body>
</html>